[submodule "plugins/zsh-syntax-highlighting"]
	path = plugins/zsh-syntax-highlighting
	url = git://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "submodules/tools-osx"]
	path = submodules/tools-osx
	url = git@github.com:morgant/tools-osx.git
[submodule "submodules/git-submodule-tools"]
	path = submodules/git-submodule-tools
	url = git@github.com:kollerma/git-submodule-tools.git
